.cart-dropdown {
    position: absolute;
    width: 380px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: white;
    top: 116px;
    right: 25px;

    &-header {
        display: flex;
        justify-content: space-between;


    .success-message {
        padding-bottom: 25px;
        display: flex;
        align-items: center;

        .fas {
            background: green;
            border-radius: 100%;
            color: white;
            font-size: 12px;
            padding: 3px;
            margin-right: 10px;
        }
    }

        .close-dropdown-btn {
            width: 15px;
            height: 15px;
            position: relative;

            &:before, 
            &:after {
                width: 20px;
                height: 1px;
                background: black;
                position: absolute;
                content: '';
            }
            &:before {
                transform: rotate(45deg) translate(4px, 7px);
            }

            &:after {
                transform: rotate(-45deg) translate(-7px, 4px);
            }
        }
    }
    
    .empty-message {
        margin: 50px auto;
        font-size: 18px;
    }

    button {
        margin-top: 10px;
    }

    .cart-buttons {
        justify-self: end;
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        button {
            display: flex;
            width: 100%;
            font-size: 12px;
            padding: 18px;
            margin: 0 5px;
        }
    }
}