.cart-dropdown {
    position: absolute;
    width: 380px;
    height: 440px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: white;
    top: 115px;
    right: 10px;
    z-index: 5;

    .empty-message {
        margin: 50px auto;
        font-size: 18px;
    }
    
    .cart-items {
        height: 340px;
        display: flex;
        flex-direction: column;
        overflow: scroll;
    }

    button {
        margin-top: 10px;
    }
}