.custom-button {
    width: 100%;
    letter-spacing: .5px;
    padding: 20px;
    font-size: 15px;
    background: black;
    color: white;
    border: 1px solid black !important;
    text-transform: uppercase;
    font-weight: bolder;
    border: none;
    outline: none;
    margin: 10px 0;
    cursor: pointer;
    display: flex;
    justify-content: center;

    &:hover {
        background: white;
        color: black;
    }

    &.google-sign-in {
        background: #4285f4;
        color: #fff;
        border: 1px solid #4285f4 !important;

        &:hover {
            background: #fff;
            color: #4285f4;
            border: 1px solid #4285f4;
        }
    }

    &.inverted {
        background: white;
        color: black;
        border: 1px solid black !important;

        &:hover {
            background: black;
            color: white;
        }
    }
}