.collection-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 5px;
    background: #fff;

    .image {
        width: 100%;
        object-fit: cover;
        margin-bottom: 15px;
    }

    .collection-footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 16px;
        color: #666;

        &-upper {
            display: flex;
            justify-content: space-between;
            color: #000;
        }

        .type {
            padding: 5px 0;
        }
    }

    .images {
        height: 30px;
        width: 100%;

        img {
            width: 39px;
            margin: 0 2px;
        }

        .images-preview {
            display: flex;
            align-items: center;
        }
    }
}

@media (max-width: 1000px) {
    .collection-item {
        .collection-footer {
            padding: 0 10px;
        }
    }
}

@media (max-width: 500px) {
    .collection-item {
        .collection-footer {
            font-size: 13px;

            &-upper {
                flex-direction: column;

                .price {
                    padding-top: 5px;
                }
            }

            .images {
                display: none;
            }
        }
    }
}