.collection-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 5px;
    background: #fff;

    .image {
        width: 100%;
        object-fit: cover;
        margin-bottom: 30px;
    }

    .collection-footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 16px;
        color: #666;

        &-upper {
            display: flex;
            justify-content: space-between;
            color: #000;
        }

        .type {
            padding: 10px 0;
        }
    }

    .images {
        margin-top: 10px;
        height: 50px;

        img {
            width: 39px;
            margin: 0 2px;
        }
    }
}