.collection-page {
    display: flex;
    flex-direction: column;
    position: relative;

    &-container {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
    }

    &-header {
        position: sticky;
        top: 110px;
        background: white;
        width: 100%;
        z-index: 1000;
        padding: 30px 10px;
        display: flex;
        justify-content: space-between;

        .title {
            font-size: 25px;
            font-weight: 500;
        }

        .filter-options {
            display: flex;
            align-items: center;

            .filter-btn,
            .sort-btn {
                cursor: pointer;
            }

            .filter-btn {
                margin-right: 50px;
                display: flex;
                align-items: center;
            }
        }
    }
}

@media (max-width: 1000px) {
    .collection-page {    
        .items {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
        }

        .title {
            padding-left: 30px;
        }
    }
}