.collection-page {
    display: flex;
    flex-direction: column;

    .title {
        font-size: 25px;
        padding: 0 0 30px 5px;
        font-weight: 500;
    }

    .items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;

        & .collection-item {
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 1000px) {
    .collection-page {    
        .items {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
        }

        .title {
            padding-left: 30px;
        }
    }
}