.checkout-page {
    min-height: 90vh;
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 50px auto;
    width: 80%;

    .total {
        font-size: 40px;
        align-self: flex-end;
        padding-top: 50px;
    }
    
    h2 {
        padding-bottom: 10px;
    }
}

@media (max-width: 1000px) {
    .checkout-page {
        grid-template-columns: 1fr;
        width: 90%;
        padding-bottom: 50px;
    }
}
