.collection-details {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 20px;
    padding-top: 20px;

    .details {
        display: flex;
        flex-direction: column;
        padding: 0 20px;

        &-upper {
            display: flex;
            justify-content: space-between;
        }

        .name {
            font-weight: 900;
            font-size: 28px;
            padding-bottom: 6px;
            line-height: 30px;
        }

        #image-show-md {
            height: 450px;
            object-fit: cover;
            display: none;
            margin-top: 10px;
            object-position: center;
        }

        button {

            &:nth-of-type(1) {
                margin-top: 10px;
            }
            
            .far {
                padding-left: 10px;
            }
        }

        h2 {
            padding: 10px 0;
        }

        p {
            line-height: 28px;
            padding: 50px 0;
        }

        li {
            line-height: 28px;
            margin-left: 16px;
        }
    }
}

.details-image-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    img, video {
        object-fit: cover;
        width: 100%;
    }
}


@media (max-width: 1000px) {
    .collection-details {
        grid-template-columns: 1fr;

        .details {
            order: 1;

            #image-show-md {
                display: block;
            }

            button {
                &:nth-of-type(1) {
                    position: sticky;
                    bottom: 20px;
                }
            }
        }

        .details-image-grid {
            order: 2;
        }
    }
}