.item-header {
    width: 100%;
    font-size: 16px;
    color: #666;
    display: flex;
    flex-direction: column;
    line-height: 25px;
    padding-bottom: 5px;

    &-upper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        & .name {
            line-height: 18px;
        }
    }

        .type {
            color: #757575;
        }
}

@media(max-width: 500px) {
    .item-header {
        &-upper {
            flex-direction: column;
        }
    }
}