.cart-icon {
    width: 45px;
    height: 45px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-left: 25px;

    .fa-shopping-cart {
        position: relative;
        color: #757575;
        font-size: 16px;
    }

    .item-count {
        position: absolute;
        font-size: 10px;
        font-weight: bold;
        top: 7px;
        right: -3px;
        background: #FA5400;
        border-radius: 50%;
        height: 15px;
        width: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
    }
}