.sign-up {
    display: flex;
    flex-direction: column;
    width: 35vw;

    button {
        width: 100%;
        margin: 5px 0;
    }

    @media screen and (max-width: 800px) {
        width: 100%;
        margin-top: 50px;
    }
}