header {
    height: 700px;
    overflow: hidden;
    position: relative;
    margin-bottom: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    


    .overlay {
     
        video {
            width: 100%;
            object-fit: cover;
        }
      
    }
}
