.checkout-summary {
    padding: 0 20px;
    margin-left: 20px;

    .summary-groups {
        border-bottom: 1px solid #8D8D8D;
        padding-bottom: 16px;
        color: #111;
    }

    .summary-group {
        display: flex;
        justify-content: space-between;
        padding: 8px 0;
    }

    .cart-total {
        border-bottom: 1px solid #8D8D8D;
        padding: 10px 0;
        font-weight: 900;
    }

    button {
        width: 100%;
        margin-top: 20px;
    }

        
    .test-warning {
        text-align: center;
        margin: 40px 0 100px 0;
        font-size: 16px;
        color: red;
    }
}

.StripeCheckout span {
    background: black !important;
    padding: 15px !important;
    outline: none !important;
    height: auto !important;
    border: none !important;
    margin: none !important;
    border-radius: 50px !important;
}

.StripeCheckout {
    background: none !important;
    outline: none !important;
    box-shadow: none !important;
    width: 100% !important;
}

@media (max-width: 1000px) {
    .checkout-summary {
        margin-left: 0;

        .button-container {
            background: #fff;
            position: fixed;
            bottom: 0px;
            left: 0;
            right: 0;
            width: 100%;
            padding: 20px;

            button {     
                margin: auto;          
                width: 90%;
            }
        }
    }
}