.hire-me-page {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    padding: 50px 0;

    img {
        width: 100%;
        object-fit: cover;
    }
}