.cart-item {
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    cursor: pointer;
    align-items: start;
    max-height: 300px;
 
    .cart-image-container {
        width: 30%;
    
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    @media(max-width: 600px) {
        grid-template-columns: auto auto;
    }
    

    .item-details {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 10px 20px;

        .price, 
        .type {
            font-weight: 300;
            font-size: 14px;
        }
    }
}