.cart-item {
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    cursor: pointer;
 
    img {
        width: 30%;
        object-fit: cover;
    }

    .item-details {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 10px 20px;

        .price, 
        .type {
            font-weight: 300;
            font-size: 14px;
        }
    }
}