.upper-nav, 
.lower-nav {
    display: flex;
    align-items: center;
}

.upper-nav {
    justify-content: flex-end;
    border-bottom: 1px solid rgba(18, 18, 18, .2);
    font-size: 12px;

    a, div, .fas {
        color: #757575;
    }
}

.lower-nav {
    justify-content: space-between;
}